<?xml version="1.0" encoding="UTF-8"?>

<beans xmlns="http://www.springframework.org/schema/beans"
  xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
  xmlns:context="http://www.springframework.org/schema/context"
  xmlns:p="http://www.springframework.org/schema/p"
  xsi:schemaLocation="http://www.springframework.org/schema/beans
   http://www.springframework.org/schema/beans/spring-beans.xsd
   http://www.springframework.org/schema/context
   http://www.springframework.org/schema/context/spring-context.xsd">
   
   <bean name="emp1" class="com.examples.springcoreapp.Employee">
   		<property name="id">
   			<value>01</value>
   		</property>
   		<property name="name">
   			<value>Navi</value>
   		</property>
   </bean>
   
    <bean name="emp2" class="com.examples.springcoreapp.Employee">
   		<property name="id" value="02"/>
   		<property name="name" value="sunil"/>
   </bean>
   
   <bean name="emp3" class="com.examples.springcoreapp.Employee" p:id="03" p:name="anu"/>
   
   <bean name="emp4" class="com.examples.springcoreapp.Employee" p:id="04" p:name="dora">
   		<property name="departments">
   			<list>
   				<value>HR</value>
   				<value>Admin</value>
   				<value>SalesHR</value>
   			</list>
   		</property>
   </bean>
   
    <bean name="emp5" class="com.examples.springcoreapp.Employee" p:id="05" p:name="vishu">
    	<property name="products">
    		<map>
    			<entry key="100" value="Laptop"/>
    			<entry key="200" value="Phone"/>
    			<entry key="300" value="TV"/>	
    		</map>
    	</property>
    </bean>
   
   
    <bean name="emp6" class="com.examples.springcoreapp.Employee" p:id="06" p:name="amy">
   		<property name="countrieslanguages">
   			<props>
   				<prop key="USA">English</prop>
   				<prop key="Canada">French</prop>
   				<prop key="Germany">German</prop>
   			</props>   	
   		</property>
    </bean>
    
        <bean name="address1" class="com.examples.springcoreapp.Address" p:city="Mysore" p:state="Karnataka" p:pincode="874383">
       </bean> 	
       
         <bean name="emp7" class="com.examples.springcoreapp.Employee" p:id="07" p:name="sumu">
   		<property name="address">
   			<ref bean="address1"></ref>
   		</property>
   </bean>
    

 </beans>